@import '../../styles/variables.css';

.footer {
    height: 5%;
    background-color: var(--black);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    color: var(--blue);
    font-size: 1.1rem;
}

.a {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
}